body {
	background: rgb(170, 166, 226);
	background: linear-gradient(
		90deg,
		rgba(170, 166, 226, 1) 0%,
		rgba(53, 186, 154, 1) 47%,
		rgba(113, 241, 255, 1) 95%
	);
}
.favCard {
	border: 1px solid black;
	width: 350px;
	height: 300px;
	display: inline-grid;
	margin: 50px;
	align-items: center;
	border-radius: 10px;
}
img {
	height: 300px;
	width: 350px;
	border-radius: 10px;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 0.5em;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
	display: none;
}
.select {
	position: relative;
	display: flex;
	width: 22em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: 0.25em;
}
.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor: pointer;
	pointer-events: none;
	transition: 0.25s all ease;
}
.select:hover::after {
	color: #23b499;
}
